@charset "UTF-8";
* {
  position: relative;
  font-family: 微軟正黑體;
  box-sizing: border-box;
  transition: 0.5s;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #142F56;
  justify-content: center;
  align-items: center;
  font: 14px;
  font-weight: 700;
}

.up {
  font-size: 50px;
  color: white;
  position: relative;
  text-align: center;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: inline-block;
  padding: 0px;
  margin: 10px;
  width: 140px;
  height: 150px;
  max-width: 300px;
  background-color: #FBBE00;
  border-radius: 4%;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}
.box:hover {
  transform: translate(-5px, -10px);
  width: 300px;
  height: 300px;
}
.box .top {
  padding: 0;
  margin: 0px;
  background-image: url(https://ding0327.github.io/Crayon-Shin-chan/Crayon_Shin-chan.png);
  background-position: center;
  background-size: contain;
  height: 170px;
  position: relative;
}
.box .top .name {
  position: absolute;
  left: 0px;
  bottom: -10px;
  padding: 0px 10px;
  letter-spacing: 2px;
  color: white;
  font: 24px;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
}

.bottom {
  text-align: left;
  height: 10px;
  display: flex;
  top: -25px;
  padding: 10px;
  margin: 10px;
}
.bottom li {
  padding: 2px 0px;
}
.bottom h3 {
  margin: 0px auto;
  padding: 0px;
  display: inline-block;
}
.bottom ul {
  list-style: none;
  padding: 0;
}

.box2 .top {
  background-image: url(https://ding0327.github.io/Crayon-Shin-chan/Rro.png);
}

.box3 .top {
  background-image: url(https://ding0327.github.io/Crayon-Shin-chan/Even%20seeing.png);
}

.box4 .top {
  background-image: url(https://ding0327.github.io/Crayon-Shin-chan/Hiroshi.png);
}

.box5 .top {
  background-image: url(https://ding0327.github.io/Crayon-Shin-chan/Sunflower.png);
}

.down {
  margin: 0;
  top: 50%;
  font-size: 20px;
  color: white;
  position: relative;
  text-align: center;
  background: linear-gradient(transparent 0%, black 100%);
}
