html
  title
  body
    h1.up 蠟筆小新
    .container
      .box.box1
        .top
          h2.name 蠟筆小新
        .bottom
          ul
            li
              h3 生日:
              | 5月5日
            li
              h3 血型
              | B型
            li
              | 雙葉幼稚園向日葵班學童。春日部防衛隊創始人兼春日部防衛隊隊員
      .box.box2
        .top
          h2.name 小白
        .bottom
          ul
            li 野原家飼養的小狗。
            li 春日部防衛隊警犬
      .box.box3
        .top
          h2.name 野原美冴
        .bottom
          ul
            li
              h3 生日:
              | 9月21日
            li
              h3 血型
              | B型
            li
              | 小新的母親。全職的家庭主婦。富有責任感及正義感
      .box.box4
        .top
          h2.name 野原廣志
        .bottom
          ul
            li 小新的父親,35歲
            li 雙葉商事東京本部的第一營業部股長
      .box.box5
        .top
          h2.name 野原葵
        .bottom
          ul
            li 
              h3 生日:
              | 9月27日
            li 小新的妹妹，0歲
            li 對帥哥和亮晶晶的東西非常感興趣
        
    h2.down made by @ding